<header class="row">
    <div class="col">
        <p class="text-center">
            <img
                src="img/keynotetime-logo.png"
                alt=""
                srcset=""
                height="50px"
            />
        </p>
    </div>
</header>
