<div class="row vh-100">
    <div class="col my-auto">
        <div id="wrapper" class="text-center my-auto">
            <div class="event-name">Apple October 12 Event</div>
            <div class="row counter">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-3">
                            <p class="digit">00</p>
                            <p class="label">Days</p>
                        </div>
                        <div class="col-3">
                            <p class="digit">00</p>
                            <p class="label">Hours</p>
                        </div>
                        <div class="col-3">
                            <p class="digit">00</p>
                            <p class="label">Minutes</p>
                        </div>
                        <div class="col-3">
                            <p class="digit">00</p>
                            <p class="label">Seconds</p>
                        </div>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
            <div class="local-timezone">Time listed in your local timezone</div>
        </div>
    </div>
</div>
