body {
    background: rgb(16, 21, 34);
    color: antiquewhite;
}

header {
    padding: 25px;
    margin-bottom: -50px;
}

#event-name {
    font-family: roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 1.8rem;
    color: rgb(230, 203, 255);
    margin-bottom: 30px;
}

#event-name span {
    opacity: 1;
    transition: all 0.5s ease;
}

#event-name .fade {
    opacity: 1;
}

#wrapper .counter .digit {
    font-family: roboto;
    font-weight: 300;
    font-size: 8rem;
    color: #eee;
}

#wrapper .counter .label {
    font-size: 1.6rem;
    color: rgb(191, 191, 191);
    font-family: roboto;
    font-weight: 300;
}

#wrapper .local-timezone {
    font-family: roboto;
    font-weight: 100;
    font-size: 1.3rem;
    margin-top: 50px;
}

.clock {
    font-family: roboto;
    font-style: italic;
    font-weight: 500;
    margin-top: 50px;
    line-height: 0.5rem;
    color: #aaa;
}
